<header>
    <h1>Real-Time HTML/CSS Editor</h1>
    <h2>Put something between the tags or replace them altogether...</h2>
</header>
<div class="container grid">
    <form>
        <h3>HTML</h3>
        <textarea id="html" class="edit"><h1></h1></textarea>

        <h3>CSS</h3>
        <textarea id="css" class="edit">h1 {

}</textarea>
    </form>
</div>

<div class="output grid">
    <iframe></iframe>
</div>