{% extends "index.html.twig" %}
{% block title %} Liste des categories - {{ parent() }}{% endblock %}


{% block body %}
    <div class="container-fluid mt-2">

        <h2 class="display-3">Article n°{{ categorie.Id }}</h2>
        <hr class="my-4">
        <div class="row">
            <div class="card col-lg-4 ml" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ categorie.Nom }}</h5>
                    <p class="card-text">{{ categorie.Description }}</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}