{% extends "/Article/Accueil.html.twig" %}
{% block title %}Validation utilisateur{% endblock %}

{% block body %}

    <nav>
        <div class="menu">
            <ul>

                <li>
                    <a class="dropdown-item" href="/welcome"><img src="/uploads/images/logo.png"></a>
                </li>
            </ul>
        </div>
    </nav>
    </br></br></br></br>
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Projet</th>
    </tr>
    </thead>
    <tbody>
    {% for Utilisateur in utilisateurlist %}

        <tr>
            <td>{{ Utilisateur.USER_NOM }}</td>
            <td>{{ Utilisateur.USER_PRENOM }}</td>
            <td>{{ Utilisateur.USER_PROJET }}</td>
            <td>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-success" href="/User/listMatch/{{ Utilisateur.USER_ID }}">Like</a>
                    <a class="btn btn-danger" href="/welcome">Dislike</a>
                </div>
            </td>

        </tr>

    {% endfor %}
    </tbody>

{% endblock %}