<!DOCTYPE html>

<html lang="fr">


<head>

    <meta charset="UTF-8">

    <title> ReadFile</title>

    <link rel="stylesheet" href="/assets/test.css">

</head>

<body>
<label for="story">Code css à modifier</label>

<textarea id="story" name="story"
          rows="20" cols="100">
    {{ cssFileData }}
</textarea>

<input type="submit" value=Valider>
</body>


</html>