<!DOCTYPE html>

<html lang="fr">


<head>

    <meta charset="UTF-8">

    <title> ReadFile</title>

    <link rel="stylesheet" href="/assets/test.css">

</head>

<body>
<label for="story">Code css à modifier</label>

<textarea id="cssContent" name="cssContent" rows="20" cols="100">
    {{ cssFileData }}
</textarea>

<input class="submit" type="submit" >

</body>


</html>